h1{
  color: red; font-weight: 200;
}


img:hover{
  background-color: gold;
}


/* Class Selector*/

.bacon{
  background-color: green;
}

.broccoli{
  background-color: yellow;
}

/* ID Selector*/

#h1heading{
  color: brown;
}
